# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

In [2]:
url='https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv'

### Step 3. Assign it to a variable called df.

In [3]:
df = pd.read_csv(url)

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [4]:
stud_alcoh = df.loc[:, 'school':'guardian']
print(stud_alcoh.head())

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  \
0     GP   F   18       U     GT3       A     4     4  at_home   teacher
1     GP   F   17       U     GT3       T     1     1  at_home     other
2     GP   F   15       U     LE3       T     1     1  at_home     other
3     GP   F   15       U     GT3       T     4     2   health  services
4     GP   F   16       U     GT3       T     3     3    other     other

   reason guardian
0  course   mother
1  course   father
2   other   mother
3    home   mother
4    home   father

### Step 5. Create a lambda function that will capitalize strings.

In [5]:
capitalize = lambda x: x.upper()

### Step 6. Capitalize both Mjob and Fjob

In [6]:
stud_alcoh['Mjob'].apply(capitalize)
stud_alcoh['Fjob'].apply(capitalize)
print(stud_alcoh.tail())

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

     reason guardian
390  course    other
391  course   mother
392  course    other
393  course   mother
394  course   father

### Step 7. Print the last elements of the data set.

In [7]:
print(stud_alcoh.tail())

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

     reason guardian
390  course    other
391  course   mother
392  course    other
393  course   mother
394  course   father

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

In [8]:

stud_alcoh['Mjob'] = stud_alcoh['Mjob'].apply(capitalize)
stud_alcoh['Fjob'] = stud_alcoh['Fjob'].apply(capitalize)
print(stud_alcoh.tail())

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
390     MS   M   20       U     LE3       A     2     2  SERVICES  SERVICES
391     MS   M   17       U     LE3       T     3     1  SERVICES  SERVICES
392     MS   M   21       R     GT3       T     1     1     OTHER     OTHER
393     MS   M   18       R     LE3       T     3     2  SERVICES     OTHER
394     MS   M   19       U     LE3       T     1     1     OTHER   AT_HOME

     reason guardian
390  course    other
391  course   mother
392  course    other
393  course   mother
394  course   father

### Step 9. Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [9]:
def majority(x):
    if x > 17:
        return True
    else:
        return False

stud_alcoh['legal_drinker'] = stud_alcoh['age'].apply(majority)
print(stud_alcoh.head(10))

  school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0     GP   F   18       U     GT3       A     4     4   AT_HOME   TEACHER
1     GP   F   17       U     GT3       T     1     1   AT_HOME     OTHER
2     GP   F   15       U     LE3       T     1     1   AT_HOME     OTHER
3     GP   F   15       U     GT3       T     4     2    HEALTH  SERVICES
4     GP   F   16       U     GT3       T     3     3     OTHER     OTHER
5     GP   M   16       U     LE3       T     4     3  SERVICES     OTHER
6     GP   M   16       U     LE3       T     2     2     OTHER     OTHER
7     GP   F   17       U     GT3       A     4     4     OTHER   TEACHER
8     GP   M   15       U     LE3       A     3     2  SERVICES     OTHER
9     GP   M   15       U     GT3       T     3     4     OTHER     OTHER

       reason guardian  legal_drinker
0      course   mother           True
1      course   father          False
2       other   mother          False
3        home   mother          False
4        home   father          False
5  reputation   mother          False
6        home   mother          False
7        home   mother          False
8        home   mother          False
9        home   mother          False

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise

In [10]:

def multiply_by_ten(x):
    if type(x) is int or type(x) is float:
        return x * 10
    return x 

stud_alcoh = stud_alcoh.applymap(multiply_by_ten)
print(stud_alcoh.head())

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  \
0     GP   F  180       U     GT3       A    40    40  AT_HOME   TEACHER
1     GP   F  170       U     GT3       T    10    10  AT_HOME     OTHER
2     GP   F  150       U     LE3       T    10    10  AT_HOME     OTHER
3     GP   F  150       U     GT3       T    40    20   HEALTH  SERVICES
4     GP   F  160       U     GT3       T    30    30    OTHER     OTHER

   reason guardian  legal_drinker
0  course   mother           True
1  course   father          False
2   other   mother          False
3    home   mother          False
4    home   father          False

C:\Users\User\AppData\Local\Temp\ipykernel_25512\3123216396.py:6: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  stud_alcoh = stud_alcoh.applymap(multiply_by_ten)