# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas  as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo=pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep='\t')

### Step 4. How many products cost more than $10.00?

In [5]:
#item_price into float
chipo['item_price']=chipo['item_price'].str.replace('$','').astype(float)

In [6]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

In [11]:

chipo_unique = chipo.drop_duplicates(subset=['item_name', 'item_price'])
products_over_10 = chipo_unique[chipo_unique['item_price'] > 10.00]

num_products = products_over_10['item_name'].nunique()
print(f"\nNumber of products that cost more than $10.00: {num_products}")

Number of products that cost more than $10.00: 31

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [ ]:

item_prices = chipo[['item_name', 'item_price']].drop_duplicates()

print("\nPrice of Each Item:")
print(item_prices)

Price of Each Item:
                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4237                    Chips and Guacamole        8.50
4354                       Steak Soft Tacos       18.50
4489                    Chips and Guacamole       17.80
4509                                  Chips        1.99
4510                          Barbacoa Bowl       11.49

[209 rows x 2 columns]

### Step 6. Sort by the name of the item

In [13]:

sorted_item_prices = item_prices.sort_values(by='item_name')

print("\nItem Prices Sorted by Name:")
print(sorted_item_prices.head(10))

Item Prices Sorted by Name:
              item_name  item_price
3389  6 Pack Soft Drink       12.98
298   6 Pack Soft Drink        6.49
4510      Barbacoa Bowl       11.49
3195      Barbacoa Bowl        8.69
95        Barbacoa Bowl        9.25
115       Barbacoa Bowl        8.99
39        Barbacoa Bowl       11.75
471       Barbacoa Bowl       11.48
1648   Barbacoa Burrito       11.08
81     Barbacoa Burrito        9.25

### Step 7. What was the quantity of the most expensive item ordered?

In [14]:

most_expensive_item_row = chipo.sort_values(by='item_price', ascending=False).iloc[0]

quantity_of_most_expensive = most_expensive_item_row['quantity']
item_name = most_expensive_item_row['item_name']

print(f"\nThe most expensive item ordered was '{item_name}'.")
print(f"The quantity of that item ordered in that transaction line was: {quantity_of_most_expensive}")

The most expensive item ordered was 'Chips and Fresh Tomato Salsa'.
The quantity of that item ordered in that transaction line was: 15

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [15]:

veggie_salad_orders = chipo[chipo['item_name'] == 'Veggie Salad Bowl']

count_veggie_salad = len(veggie_salad_orders)

print(f"\nThe 'Veggie Salad Bowl' was ordered (appeared on a line item) {count_veggie_salad} times.")

The 'Veggie Salad Bowl' was ordered (appeared on a line item) 18 times.

### Step 9. How many times did someone order more than one Canned Soda?

In [16]:

canned_soda_orders = chipo[chipo['item_name'] == 'Canned Soda']

multiple_canned_soda = canned_soda_orders[canned_soda_orders['quantity'] > 1]

count_multiple_canned_soda = len(multiple_canned_soda)

print(f"\nThe number of times someone ordered more than one Canned Soda (per line item) was: {count_multiple_canned_soda}")

The number of times someone ordered more than one Canned Soda (per line item) was: 20