In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
a=pd.Series([10.2,26.5,45.2])
print(a)

0    10.2
1    26.5
2    45.2
dtype: float64

In [5]:
b= pd.Series([10.2,26.5,45.2],name="height")

In [6]:
print(b)

0    10.2
1    26.5
2    45.2
Name: height, dtype: float64

In [9]:
c= pd.Series([10.2,26.5,45.2],name="height",index=["a","b","c"])

In [10]:
print(c)

a    10.2
b    26.5
c    45.2
Name: height, dtype: float64

In [11]:
population={"Nairobi":150000,"Mombasa":250000,"Kitale":100000}

In [12]:
pop=pd.Series(population)

In [13]:
print(pop)

Nairobi    150000
Mombasa    250000
Kitale     100000
dtype: int64

In [14]:
pop.values

array([150000, 250000, 100000])

In [15]:
pop.index

Index(['Nairobi', 'Mombasa', 'Kitale'], dtype='object')

In [16]:
#Dataframe
area= {"Nairobi":150,"Mombasa":250,"Kitale":100}

In [17]:
population={"Nairobi":150000,"Mombasa":250000,"Kitale":100000}

In [19]:
#pd.DataFrame
regions=({"pop":population,"cubicmeters":area})

In [20]:
print(regions)

{'pop': {'Nairobi': 150000, 'Mombasa': 250000, 'Kitale': 100000}, 'cubicmeters': {'Nairobi': 150, 'Mombasa': 250, 'Kitale': 100}}

In [ ]:
data={
    "Name":["Atieno","Awendy","Simba"],
      "Module":["Python","Pydata","Gendata"]
      }

In [ ]:
#indexing and selection