In [1]:
import pandas as pd

In [2]:
import numpy as np

In [5]:
#import dataset from the given adress
url="https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/09_Time_Series/Apple_Stock/appl_1980_2014.csv"
apple=pd.read_csv(url)

In [6]:
#assign it to a variable apple
apple.head()

         Date   Open   High    Low  Close    Volume  Adj Close
0  2014-07-08  96.27  96.80  93.92  95.35  65130000      95.35
1  2014-07-07  94.14  95.99  94.10  95.97  56305400      95.97
2  2014-07-03  93.67  94.10  93.20  94.03  22891800      94.03
3  2014-07-02  93.87  94.06  93.09  93.48  28420900      93.48
4  2014-07-01  93.52  94.07  93.13  93.52  38170200      93.52

In [7]:
#check out the types of columns
apple.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Volume         int64
Adj Close    float64
dtype: object

In [8]:
#Transform the date column  as a datetime type
apple["Date"]= pd.to_datetime(apple["Date"])
apple.dtypes

Date         datetime64[ns]
Open                float64
High                float64
Low                 float64
Close               float64
Volume                int64
Adj Close           float64
dtype: object

In [9]:
#set the date as index
apple.set_index("Date",inplace=True)

In [10]:
#checking duplicate dates
apple.index.duplicated().sum()

np.int64(0)

In [12]:
#last business day of each month
last_business_days=apple.resample("BM").last()
last_business_days.head()

C:\Users\User\AppData\Local\Temp\ipykernel_17736\2296266342.py:2: FutureWarning: 'BM' is deprecated and will be removed in a future version, please use 'BME' instead.
  last_business_days=apple.resample("BM").last()

             Open   High    Low  Close    Volume  Adj Close
Date
1980-12-31  34.25  34.25  34.13  34.13   8937600       0.53
1981-01-30  28.50  28.50  28.25  28.25  11547200       0.44
1981-02-27  26.50  26.75  26.50  26.50   3690400       0.41
1981-03-31  24.75  24.75  24.50  24.50   3998400       0.38
1981-04-30  28.38  28.62  28.38  28.38   3152800       0.44

In [13]:
#difference in days between the first day and the oldest
first_day= apple.index.min()
last_day=apple.index.max()
difference=(last_day-first_day).days
print("First_date:",first_day)
print("Last_date:",last_day)
print("Differenced in days:",difference)

First_date: 1980-12-12 00:00:00
Last_date: 2014-07-08 00:00:00
Differenced in days: 12261

In [14]:
#Number of months in the  data
num_months=apple.groupby(apple.index.to_period("M")).ngroups
print("Number of months:",num_months)

Number of months: 404