In [3]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv("https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv")

In [5]:
#frequency of dataset
frequency=df.index.to_series().diff().iloc[1]
print(f"The frequency of the dataset is:{frequency}")

The frequency of the dataset is:1.0

In [18]:
pd.infer_freq(df.index)

In [19]:
print(df.index)

DatetimeIndex(['2011-10-05', '2011-10-12', '2011-10-19', '2011-10-26',
               '2011-12-07', '2011-12-14', '2011-12-21', '2011-12-28',
               '2012-12-05', '2012-12-12',
               ...
               '2024-06-26', '2024-07-02', '2024-07-10', '2024-07-17',
               '2024-07-24', '2024-12-04', '2024-12-11', '2024-12-18',
               '2024-12-24', '2024-12-31'],
              dtype='datetime64[ns]', name='Date', length=159, freq=None)

In [6]:
#set the column date as  index
df=df.set_index("Date")

In [20]:
df.head()

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2011-10-05,-4002,-4499.0,497,-1354.0,-5828,-6258.0,430,-11184.0
2011-10-12,-7397,-5842.0,-1555,512.0,3954,3927.0,28,-2931.0
2011-10-19,-3292,-3466.0,174,1399.0,5652,5102.0,550,3759.0
2011-10-26,-3696,-2998.0,-698,2631.0,4910,4070.0,841,3846.0
2011-12-07,-7956,-5761.0,-2196,1089.0,3523,2068.0,1456,-3343.0

In [7]:
#index  type
df.index.dtype

dtype('O')

In [21]:
#set the index to a datetime index
df.index=pd.to_datetime(df.index)
print(df.index.dtype)

datetime64[ns]

In [15]:
df.head()

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2011-10-05,-4002,-4499.0,497,-1354.0,-5828,-6258.0,430,-11184.0
2011-10-12,-7397,-5842.0,-1555,512.0,3954,3927.0,28,-2931.0
2011-10-19,-3292,-3466.0,174,1399.0,5652,5102.0,550,3759.0
2011-10-26,-3696,-2998.0,-698,2631.0,4910,4070.0,841,3846.0
2011-12-07,-7956,-5761.0,-2196,1089.0,3523,2068.0,1456,-3343.0

In [16]:
#change the frequency to monthly,sum the values and assign ikt to monthly
monthly =df.resample('M').sum()

C:\Users\User\AppData\Local\Temp\ipykernel_27836\1581042392.py:2: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly =df.resample('M').sum()

In [17]:
monthly.head()

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2011-10-31,-18387,-16805.0,-1582,3188.0,8688,6841.0,1849,-6510.0
2011-11-30,0,0.0,0,0.0,0,0.0,0,0.0
2011-12-31,-23657,-16659.0,-6999,2395.0,13817,9335.0,4483,-7443.0
2012-01-31,0,0.0,0,0.0,0,0.0,0,0.0
2012-02-29,0,0.0,0,0.0,0,0.0,0,0.0

In [12]:
#Dropping the rfows with NaN values
monthly=monthly.dropna()

In [13]:
#Change the frequency to year
year=monthly.resample('A').sum()

C:\Users\User\AppData\Local\Temp\ipykernel_27836\3448854329.py:2: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  year=monthly.resample('A').sum()